<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>TickIT</title>

    <link href='/css/main.css' rel='stylesheet' />
  </head>
  <body class="app">
    {{> navigation }}
    <header class="app__header"></header>
    <main class="app__content">
        {{> @partial-block }}
    </main>
  </body>
</html>
