<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>TickIT</title>

    <link href='/css/main.css' rel='stylesheet' />

    <script>
      window.context = {{{json this}}};
    </script>
  </head>
  <body class="app">
    {{> navigation }}
    <header class="app__header"></header>
    <main class="app__content">
        <div class="app__content__container">
          {{> @partial-block }}
        </div>
    </main>

    {{#if js}}
    <script src="/js/{{js}}" type="module"></script>
    {{/if}}
  </body>
</html>
